.footer{
    background: rgb(251,63,209);
    background: radial-gradient(circle, rgba(251,63,209,1) 3%, rgba(252,70,107,1) 94%);
}
.color-enlace{
    color: black;
}

.jumbotron{
    background-image: url("../img/imagen.jpg");
}